body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Conteiner */
.conteiner {
	width: 100%;
	height: 100%;
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
	background-image: url(images/Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}

/*Section*/
.section {
	width: 100%;
}
.section__images1 {
	display: flex;
	justify-content: center;
	vertical-align: center;
	margin-top: 160px;
	margin-bottom: 24px;
}
.section__images2 {
	display: flex;
	justify-content: center;
	vertical-align: center;
	margin-bottom: 160px;
}
.image__card1, .image__card2, .image__card3, .image__card4, .image__card5, .image__card6, .image__card7, .image__card8, .image__card9, .image__card10 {
	background-image: url(images/Перевернутая_карта.png);
	background-repeat: no-repeat;
	width: 218px;
	height: 341px;
	margin-right: 24px;
	backface-visibility: hidden;
}
.image__card1:hover,
.image__card2:hover,
.image__card3:hover,
.image__card4:hover,
.image__card5:hover,
.image__card6:hover,
.image__card7:hover,
.image__card8:hover,
.image__card9:hover,
.image__card10:hover {
	transform: translateY(-20px) rotate(-3.08deg);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
	transition: .3s ease-in-out;
	cursor: pointer;
}
.winner__card {
	transform: rotateY(180deg) scale(-1, 1);
	transition: transform 0.8s;
	transform-style: preserve-3d;
	background-image: url(images/Карта_с_багом_2.png);
	background-repeat: no-repeat;
	border-radius: 10px;
	margin-right: 24px;
	width: 218px;
	height: 341px;
}
.loser__card {
	transform: rotateY(180deg) scale(-1, 1);
	transition: transform 0.8s;
	transform-style: preserve-3d;
	background-image: url(images/Конец_игры.jpg);
	border-radius: 10px;
	width: 218px;
	height: 341px;
	margin-right: 24px;
}
.winner__card:hover,
.loser__card:hover {
	cursor: pointer;
}

@media (max-width: 1250px) {
	.section {
		display: flex;
		justify-content: center;
	}
	.section__images1 {
		display: inline-block;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.section__images2 {
		display: inline-block;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.image__card1, .image__card2, .image__card3, .image__card4, .image__card5, .image__card6, .image__card7, .image__card8, .image__card9, .image__card10, .winner__card, .loser__card {
		margin-bottom: 24px;
	}
}

@media (max-width: 560px) {
	.section {
		display: block;
	}
	.section__images1 {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 24px;
	}
	.section__images2 {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 0;
	}
	.image__card1, .image__card2, .image__card3, .image__card4, .image__card5, .image__card6, .image__card7, .image__card8, .image__card9, .image__card10, .winner__card, .loser__card {
		margin-right: auto;
		margin-left: auto;
	}
}
